@import models.User
@import helper._
@import play.data.Form
@import controllers.UserForm
@import play.i18n.Messages
@import helper._
@import play.mvc.Http.Request


@(user : User)(filledForm: Form[UserForm])(implicit request: Request, messages: Messages)

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <title>ユーザー編集</title>
</head>
<body>
    <div class="container">
        <div class="container-header">
            <h1>更新情報を入力してください</h1>
        </div>
        <div class="index-table-wrapper">
            <div class="table-head">
                <span class="name-column">名前</span>
                <span class="name-column">年齢</span>
            </div>
            <ul class="table-body">
                <li>
                    <div class="item-data">
                        @if(user == null) {
                            <div>ユーザーが見つかりません</div>
                        }else {
                            <span class="name-column">@user.getName() </span>
                            <span class="name-column">@user.getAge()歳</span>
                    </div>
                </li>
            </ul>
            <div class="item-form-wrapper">
                @helper.form(action = routes.UserController.update(user.getId())){
                @CSRF.formField
                @helper.inputText(filledForm("name"),  Symbol("required") -> "null", Symbol("_showConstraints") -> false)
                @helper.inputText(filledForm("age"), Symbol("type") -> "number", Symbol("min") -> "0", Symbol("max") -> "150", Symbol("required") -> "null", Symbol("_showConstraints") -> false)     
                <div class="button-form">
                    <input type="submit" value="更新">
                    <input type="reset" value="リセット">
                </div>
                }
            }
                <a href="@routes.UserController.index" class="cancel-button">一覧に戻る</a>
            </div>
        </div>
    </div>
</body>
</html>